<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="user/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <section>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2>Reset Password</h2>
                    <!-- session message -->
                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center">
                        <span th:text="${session.message.content}"></span>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>
                    
                    <form th:action="@{/user/resetPassword}" method="POST">
                        <table>
                            <tr>
                                <td>Enter old password:</td>
                                <td><input type="password" name="oldpassword"></td>
                            </tr>
                            <tr>
                                <td>Enter new password:</td>
                                <td><input type="password" name="newpassword"></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="change password"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>